name: Build & Push Docker image

on:
  push:
    branches:
      - develop
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Scaleway Container Registry
        uses: docker/login-action@v3
        with:
          registry: rg.fr-par.scw.cloud
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set image tag
        id: vars
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "branch" ]]; then
            echo "TAG=dev" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            VERSION=${GITHUB_REF_NAME}
            echo "TAG=${VERSION}" >> $GITHUB_ENV
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            rg.fr-par.scw.cloud/${{ secrets.SCW_REGISTRY_NAMESPACE }}/${{ github.event.repository.name }}:${{ env.TAG }}
            rg.fr-par.scw.cloud/${{ secrets.SCW_REGISTRY_NAMESPACE }}/${{ github.event.repository.name }}:latest

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          body: |
            Docker image published:

            rg.fr-par.scw.cloud/${{ secrets.SCW_REGISTRY_NAMESPACE }}/${{ github.event.repository.name }}:${{ github.ref_name }}

          generate_release_notes: true